* {
    margin:0; padding:0; box-sizing:border-box;
}
nav {
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
a {
    text-decoration: none;
    font-size:20px;
    margin-right:10px;
    color:#629FAD;
    
}
a:hover {
    color:blue;
}
body {
    background-color:#629FAD;
}
footer {
    background-color: antiquewhite;
    text-align: center;
    padding:10px
    
}
img {
    width:400px;
}
button {
    padding:10px 20px;
    margin:10px 0px;
}
main {
    padding: 30px 20px;
}
section {
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
button a {
    color:black;
}
button a:hover {
    color: rgb(199, 54, 21);
}
form {
    background-color:antiquewhite;
    width:400px;
    padding: 30px 20px;
    border-radius: 2vh;
    margin: 30px 20px
}
#input {
    padding: 5px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}
#button {
    padding: 5px;
    font-size: 15px;
}
label {
    text-transform: capitalize;
    margin-bottom: 10px;   
}
