* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color:rgb(40, 199, 40);
}
a {
    text-decoration: none;
    font-size:20px;
    margin-right:10px;
    color:#629FAD;
    
}
